<!DOCTYPE html>
<html>
<head>
	<title>3 column</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>this is some heady stuff</header>
	<div id="left">
		<h1>TITLE</h1>
		<p>Lorem ipsum dolor sit amet, has ornatus feugait id. Meis soleat sed cu, at agam option mea. Mutat elaboraret ut quo, ad graecis voluptua gloriatur sit, harum legere nam id. Vel doming oblique luptatum ea.

Laoreet offendit platonem no per, omnesque facilisi voluptatum eu est. Alterum saperet ei ius. An apeirian lobortis hendrerit ius, ex mea malis liber iudico, cu vel magna expetendis. Dicta deleniti partiendo mel cu. Homero bonorum no his, ius doctus adipisci ex. Ea nobis labores posidonium vim, praesent rationibus id per. Eu vis sint dicam consectetuer, ea mollis mandamus eloquentiam mel, ea ipsum congue sed. </p>
	</div>
	<div id="center">
		<h1>TITLE</h1>
		<p>Lorem ipsum dolor sit amet, has ornatus feugait id. Meis soleat sed cu, at agam option mea. Mutat elaboraret ut quo, ad graecis voluptua gloriatur sit, harum legere nam id. Vel doming oblique luptatum ea.

Laoreet offendit platonem no per, omnesque facilisi voluptatum eu est. Alterum saperet ei ius. An apeirian lobortis hendrerit ius, ex mea malis liber iudico, cu vel magna expetendis. Dicta deleniti partiendo mel cu. Homero bonorum no his, ius doctus adipisci ex. Ea nobis labores posidonium vim, praesent rationibus id per. Eu vis sint dicam consectetuer, ea mollis mandamus eloquentiam mel, ea ipsum congue sed. </p>
	</div>
	<div id="right">
	<h1>TITLE</h1>
	<p>Lorem ipsum dolor sit amet, has ornatus feugait id. Meis soleat sed cu, at agam option mea. Mutat elaboraret ut quo, ad graecis voluptua gloriatur sit, harum legere nam id. Vel doming oblique luptatum ea.

Laoreet offendit platonem no per, omnesque facilisi voluptatum eu est. Alterum saperet ei ius. An apeirian lobortis hendrerit ius, ex mea malis liber iudico, cu vel magna expetendis. Dicta deleniti partiendo mel cu. Homero bonorum no his, ius doctus adipisci ex. Ea nobis labores posidonium vim, praesent rationibus id per. Eu vis sint dicam consectetuer, ea mollis mandamus eloquentiam mel, ea ipsum congue sed. </p>
	</div>

	<footer>made by Nate</footer>

</body>
</html>