body{
	text-align: center;
	padding: 0;
}
header{
	float: left;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
	height: 45%;

}
nav, ul, li{
	float: right;
	list-style-type: none;
	background-color: black;
	text-align: center;
    color: white;
    margin: 10px 10px 10px 10px;
}
li{
	margin: 20px 20px 20px 20px;
	border-radius: white;
	border-width: thick;
	display: inline-block;


}
a{
	text-decoration: none;
	color: white;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	background-attachment: scroll;
   bottom: 0;
   width:100%;
   clear: both;
}
#container{
	height: 100%;
	width: 100%;
}

#topLeft{
	height: 55%;
	width: 45%;
	float: left;
	margin: 100px 0px 10px 0px;
	background-color: black;
	color: white;
	display: inline-block;
	

}
#topRight{
	height: 55%;
	width: 30%;
	background-color: black;
	color: white;
	float: right;
	display: inline-block;
	clear: right;
	margin: 0px 10px 10px 0px;

}
#botLeft{
	background-color: black;
	color: white;
	float: left;
	display: inline-block;
	height: 30%;
	width: 32%;
 	margin: 0px 10px 0px 10px;
}
#botCenter{
	background-color: black;
	color: white;
	float: left;
	display: inline-block;
	height: 30%;
	width: 32%;
	
}
#botRight{
	background-color: black;
	color: white;
	float: right;
	display: inline-block;
	height: 30%;
	width: 32%;
	margin: 0px 10px 0px 0px;
}


































